<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Add Numbers</title>
</head>
<body>
    <div class="class0">Faceit Displayer</div>
    <div class="container">
        <img id="logo" src="../static/logo.png" alt="FaceIt Logo">
        <form class="class1" action="/add" method="post">
            <input type="text" id="match_id" name="match_id" placeholder="Match ID"><br>
        </form>
    </div>
</body>
</html>