<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Add Result</title>
</head>
<body>
    <div class="class0">Faceit Displayer</div>
    
    <div class="teams">
        <div class="Team1">
            <div class="playerid" id="player1">
                {{ team1[0] }} | Winrate: {{ team1_winrate[team1[0]]}} | 
            </div>
            <div class="playerid" id="player2">
                Player 2
            </div>
            <div class="playerid" id="player3">
                Player 1
            </div>
            <div class="playerid" id="player4">
                Player 2
            </div>
            <div class="playerid" id="player5">
                Player 2
            </div>
        </div>
        
            <div class="Team2">
                <div id="player1">
                    Player 1
                </div>
                <div id="player2">
                    Player 2
                </div>
                <div id="player3">
                    Player 1
                </div>
                <div id="player4">
                    Player 2
                </div>
                <div id="player5">
                    Player 2
                </div>
    </div>


    




















    <!--
    <ul style="list-style-type:none;">
        <li>Player1: {{ team1[0] }}</li>
            <ul style="list-style-type: none;">
                <li>Overall Win Rate: {{ team1_winrate[team1[0]]}}%</li>
                <li>Past 10 game winrate: </li>
                <li>Average K/D ratio: </li>
                <li>Average Kills per game:  </li>
                <li>Average Deaths Per Game: </li>
                <li>Best Map: </li>
                <li>Worst Map: </li>

            
            </ul>
        <li>Player2: {{ team1[1] }}</li>
            <ul style="list-style-type: none;">
                <li>Win Rate: {{ team1_winrate[team1[1]]}}%</li>
                <li>Average:  </li>
            
            </ul>
        <li>Player3: {{ team1[2] }}</li>
            <ul style="list-style-type: none;">
                <li>Win Rate: {{ team1_winrate[team1[2]]}}%</li>
                <li>Average:  </li>
            
            </ul>
        <li>Player4: {{ team1[3] }}</li>
            <ul style="list-style-type: none;">
                <li>Win Rate: {{ team1_winrate[team1[3]]}}%</li>
                <li>Average:  </li>
            
            </ul>
        <li>Player5: {{ team1[4] }}</li>
            <ul style="list-style-type: none;">
                <li>Win Rate: {{ team1_winrate[team1[4]]}}%</li>
                <li>Average:  </li>
            </ul>
      </ul> 
    <p>The players on Team 2 are:</p>
    <ul style="list-style-type:none;">
        <li>Player1: {{ team2[0] }}</li>
        <li>Player2: {{ team2[1] }}</li>
        <li>Player3: {{ team2[2] }}</li>
        <li>Player4: {{ team2[3] }}</li>
        <li>Player5: {{ team2[4] }}</li>
      </ul> 

      -->
</body>
</html>