<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Add Result</title>
</head>
<body>
    <div class="class0">Faceit Displayer</div>
    
    <div class="teams">
        <div class="Team1">
            <div class="playerid" id="player0">
                {{player_id_and_rank['team1_data']['Player0'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player0'][2]}} 
            </div>
            <div class="playerid" id="player1">
                {{player_id_and_rank['team1_data']['Player1'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player1'][2]}} 
            </div>
            <div class="playerid" id="player2">
                {{player_id_and_rank['team1_data']['Player2'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player2'][2]}} 
            </div>
            <div class="playerid" id="player3">
                {{player_id_and_rank['team1_data']['Player3'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player3'][2]}} 
            </div>
            <div class="playerid" id="player4">
                {{player_id_and_rank['team1_data']['Player4'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player4'][2]}} 
            </div>
        </div>
        
            <div class="Team2">
                <div class="playerid" id="player0">
                    {{player_id_and_rank['team2_data']['Player0'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player0'][2]}} 
                </div>
                <div class="playerid" id="player1">
                    {{player_id_and_rank['team2_data']['Player1'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player1'][2]}}
                </div>
                <div class="playerid" id="player2">
                    {{player_id_and_rank['team2_data']['Player2'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player2'][2]}}
                </div>
                <div class="playerid" id="player3">
                    {{player_id_and_rank['team2_data']['Player3'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player3'][2]}}
                </div>
                <div class="playerid" id="player4">
                    {{player_id_and_rank['team2_data']['Player4'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player4'][2]}}
                </div>
    </div>

</body>
</html>