<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Match Data</title>
</head>
<body>
    <div class="class0">Faceit Displayer</div>
    <div>{{team1_winrates}}</div>
    
    <div class="teams">
        <div class="Team1">
            <div class="playerid" id="player0">
                {{player_id_and_rank['team1_data']['Player0'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player0'][2]}}  |
                Winrate: {{team1_winrates[0]}}%
                <ul id = "stats">
                    <li>Top 3 Maps:</li>
                    <li>Worst 3 Maps:</li>
                    <li>Recent 5 games:</li> 
                </ul>
            </div>
            <div class="playerid" id="player1">
                {{player_id_and_rank['team1_data']['Player1'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player1'][2]}} |
                Winrate: {{team1_winrates[1]}}%
                <ul id = "stats">
                    <li>Top 3 Maps:</li>
                    <li>Worst 3 Maps:</li>
                    <li>Recent 5 games:</li> 
                </ul>
            </div>
            <div class="playerid" id="player2">
                {{player_id_and_rank['team1_data']['Player2'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player2'][2]}} |
                Winrate: {{team1_winrates[2]}}%
                <ul id = "stats">
                    <li>Top 3 Maps:</li>
                    <li>Worst 3 Maps:</li>
                    <li>Recent 5 games:</li> 
                </ul>
            </div>
            <div class="playerid" id="player3">
                {{player_id_and_rank['team1_data']['Player3'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player3'][2]}} |
                Winrate: {{team1_winrates[3]}}%
                <ul id = "stats">
                    <li>Top 3 Maps:</li>
                    <li>Worst 3 Maps:</li>
                    <li>Recent 5 games:</li> 
                </ul>
            </div>
            <div class="playerid" id="player4">
                {{player_id_and_rank['team1_data']['Player4'][0]}} | 
                Level: {{player_id_and_rank['team1_data']['Player4'][2]}} |
                Winrate: {{team1_winrates[4]}}%
                <ul id = "stats">
                    <li>Top 3 Maps:</li>
                    <li>Worst 3 Maps:</li>
                    <li>Recent 5 games:</li> 
                </ul>
            </div>
        </div>
        
            <div class="Team2">
                <div class="playerid" id="player0">
                    {{player_id_and_rank['team2_data']['Player0'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player0'][2]}} 
                    <ul id = "stats">
                        <li>Top 3 Maps:</li>
                        <li>Worst 3 Maps:</li>
                        <li>Recent 5 games:</li> 
                    </ul>
                </div>
                <div class="playerid" id="player1">
                    {{player_id_and_rank['team2_data']['Player1'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player1'][2]}}
                    <ul id = "stats">
                        <li>Top 3 Maps:</li>
                        <li>Worst 3 Maps:</li>
                        <li>Recent 5 games:</li> 
                    </ul>
                </div>
                <div class="playerid" id="player2">
                    {{player_id_and_rank['team2_data']['Player2'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player2'][2]}}
                    <ul id = "stats">
                        <li>Top 3 Maps:</li>
                        <li>Worst 3 Maps:</li>
                        <li>Recent 5 games:</li> 
                    </ul>
                </div>
                <div class="playerid" id="player3">
                    {{player_id_and_rank['team2_data']['Player3'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player3'][2]}}
                    <ul id = "stats">
                        <li>Top 3 Maps:</li>
                        <li>Worst 3 Maps:</li>
                        <li>Recent 5 games:</li> 
                    </ul>
                </div>
                <div class="playerid" id="player4">
                    {{player_id_and_rank['team2_data']['Player4'][0]}} | 
                    Level: {{player_id_and_rank['team2_data']['Player4'][2]}}
                    <ul id = "stats">
                        <li>Top 3 Maps:</li>
                        <li>Worst 3 Maps:</li>
                        <li>Recent 5 games:</li> 
                    </ul>
                </div>
    </div>

</body>
</html>